$td-green: #1abc9c;
$td-blue: #2e354f;
$red: #d60909;
$white: #fff;
$black: #222;
$editor-bg-color: #f0f0f0;

$actions-height: 40px;
$resizable-panel-grip-height: 9px;
$status-height: 14px;

$editor-font-size: 12px;
$status-font-size: 10px;
